body {
    background-color: #e2a8b6;
}

.largo{
    position: fixed;
    width: 50%;
    height: 50px;
    left: 1030px;
    display: inline;
    flex-direction: row;
    justify-content: right;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
    cursor: pointer;
    box-sizing:border-box;
}

h1{
    position: relative;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    color: aliceblue;
    top: 200px;
    left: 50px;
}
h4{
    position: relative;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    color: aliceblue;
    top: 200px;
    left: 50px;
}

h5{
    font-family:"Fira Sans", sans-serif"
}

#furina {
    position: relative;
    display: grid;
    place-items: center;
    justify-self: center;
    left: 700px;
    bottom: 10px;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    background-color: #678ac2;
    border-radius: 5px;
}

.boton {
    height:45px ;
    background: #678ac2;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    color: aliceblue;
    font-family: "Fira Sans", sans-serif;
}